---
import { examples } from '../data/examples';

interface Props {
  currentExample: string;
}

const { currentExample } = Astro.props;
---

<nav class="fixed w-60 h-screen px-2 py-4 border-r border-neutral-700 bg-neutral-900 overflow-y-auto z-10 flex flex-col">
  <div class="flex items-center gap-3 mx-3">
    <img src={`${import.meta.env.BASE_URL}spotr.svg`} alt="Spotr" class="w-10 h-10" />
    <h1 class="text-xl font-bold text-neutral-100">Spotr</h1>
  </div>
  <h2 class="font-semibold mt-6 text-neutral-100 px-3">Examples</h2>
  <ul class="mt-2 space-y-1">
    {examples.map((ex) => (
      <li>
        <a
          href={`${import.meta.env.BASE_URL}${ex.slug}`}
          class:list={[
            'block text-left py-1 px-3 rounded text-sm text-neutral-400 hover:text-neutral-100 hover:bg-cyan-900/50',
            currentExample === ex.slug && 'font-bold bg-cyan-900 text-cyan-200!',
          ]}
        >
          {ex.title}
        </a>
      </li>
    ))}
  </ul>
  <div class="mt-auto pt-8 pb-4 space-y-1">
    <p class="text-xs text-neutral-500 text-center">
      Documentation built with Astro
    </p>
    <p class="text-xs text-neutral-500 text-center">
      © 2026 munchkin.dev
    </p>
  </div>
</nav>
