---
import '../styles/global.css';

interface Props {
  title: string;
  example?: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}spotr.svg`} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Spotr Examples</title>
  </head>
  <body>
    <slot />
  </body>
</html>
